In [4]:
# strings
s = "apricots"

# slicing strings
print(s[:3])
print(s[2:4])
print(s[4:])

apr
ri
cots

In [5]:
# concat strings
concatenated = "R2" + "-" + "D2"
print(concatenated)

R2-D2

In [1]:
# type()
a = False
b = 29
c = 4.1352

print(type(a))
print(type(b))
print(type(c))

<class 'bool'>
<class 'int'>
<class 'float'>

In [2]:
# str()
a = False
b = 29
c = 4.1352

print(type(str(a)))
print(type(str(b)))
print(type(str(c)))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
# escape sequences
print("\"Do \t or do not \tthere is no try\"")

"Do 	 or do not 	there is no try"

In [10]:
# input
name = input("Please enter your name.")
print("Your name is " + name + ".")
print(type(name))

number = input("What is your favorite number.")
print("Your favorite number is " + number + ".")
print(type(name))

Please enter your name.Eric
Your name is Eric.
<class 'str'>
What is your favorite number.29
Your favorite number is 29.
<class 'str'>

In [17]:
# functions
def function_name_1():
    print(2 + 2)
    
def function_name_2(parameter):
    print(parameter + 2)
    
def default_example(num1 = 7, num2 = 8):
    print(num1 + num2)

function_name_1()

function_name_2(3)

default_example()
default_example(2)
default_example(1,1)

4
5
15
10
2

In [19]:
    from random import randint
    # generates random integer between and inclusive of 10 and 25 to represent gas in the car's fuel tank
    fuel = randint(10, 25)
    # generates random integer between and inclusive of 200 and 400 to represent miles the car can go without refueling
    miles = randint(200, 400)
    # calculates and displays the MPG of the car assuming car manufacturers overestimates in their claims
    print("The car can travel " + str(miles // fuel) + " miles per gallon.")
    # displays the number of gallons of fuel that the car's fuel tank can hold
    print("The car's fuel tank can hold " + str(fuel) + " gallons.")
    # displays the number of miles that the car can travel on a full tank
    print("The car can travel " + str(miles) + " miles on a full tank.")

The car can travel 20 miles per gallon.
The car's fuel tank can hold 18 gallons.
The car can travel 373 miles on a full tank.

In [20]:
example = "hello world" # global

def loc_ex():
        example = "this is a string" # local
        return example
    
print(example)
print(loc_ex())

hello world
this is a string

In [23]:
# if else flow control
veg = input("Type the name of a vegetable.")

if veg == "corn":
    print("The vegetable is corn.")
else:
    print("The vegetable is not corn.")

Type the name of a vegetable.corn
The vegetable is corn.

In [30]:
# elif flow control
user_num = int(input("Please enter an integer."))

if user_num < 0:
    print("The number you entered is less than 0.")
elif user_num == 0:
    print("The number you entered is 0.")
elif 0 < user_num:
    print("The number you entered is greater than 0.")

Please enter an integer.-1
The number you entered is less than 0.

In [32]:
# empty string is falsy
example = input("Enter anything")

if example: 
    print("Thank you for entering something")
else:
    print("You did not enter a string")

Enter anything
You did not enter a string

In [33]:
# Easier to understand
example = input("Enter anything")

if example != "": 
    print("Thank you for entering something")
else:
    print("You did not enter a string")

Enter anything
You did not enter a string

In [35]:
# some boolean evaluations
print(bool(0))
print(bool(""))
print(bool("String"))
print(bool(3.29))

False
False
True
True

In [37]:
# while loop
counter = 0
while counter < 3:
    print("something "  + str(counter))
    counter += 1

something 0
something 1
something 2

In [39]:
# for loops
word = "house"

for letter in word: 
    print(letter)

h
o
u
s
e

In [42]:
# range
one_input = range(5)
for num in one_input: 
    print(num)

0
1
2
3
4

In [45]:
# range two inputs
one_input = range(3, 8)
for num in one_input: 
    print(num)

3
4
5
6
7

In [47]:
# range three inputs
one_input = range(3, 12, 2)
for num in one_input: 
    print(num)

3
5
7
9
11

In [50]:
# range three inputs, backwards
one_input = range(15, 1, -3)
for num in one_input: 
    print(num)

15
12
9
6
3

In [72]:
# string methods
print("1")
print("Mixed Case".isupper())
print("Mixed Case".islower())
print("MIX".isupper())
print("MIX".lower())
print("\n2")
print("27ab".isalpha())
print("abcd".isalpha())
print("\n3")
print(" - ".isspace())
print("  ".isspace())
print("\n4")
print("12 ".isdecimal())
print("123".isdecimal())
print("\n5")
print("This Is A not Title".istitle())
print("This Is A Title".istitle())
print("\n6")
print("This Is A Title".startswith("T"))
print("This Is A Title".endswith("e"))
print("This Is A Title".endswith("v"))
print("\n7")
print("... ".join(["Hello", "planet", "earth"]))
print("Hello, planet, earth".split())
print("Hello - planet - earth".split("-"))
print("Hello - planet - earth".split(" - "))

1
False
False
True
mix

2
False
True

3
False
True

4
False
True

5
False
True

6
True
True
False

7
Hello... planet... earth
['Hello,', 'planet,', 'earth']
['Hello ', ' planet ', ' earth']
['Hello', 'planet', 'earth']

In [ ]:
# playing with strings
mixed_case = "A Song of Ice and Fire"
print(mixed_case.isupper())  
print(mixed_case.islower())  
print(mixed_case.upper())  
print(mixed_case.lower())  
print(mixed_case.istitle())  
title_case = mixed_case.title()
print(title_case)  
print(mixed_case.startswith("A"))  
print(mixed_case.endswith("e"))  
words = mixed_case.split()
print(words)  
print("".join(words).isalpha())  
print("\n")
print("\n")
the_string = "North Dakota"
print(the_string.rjust(17))  
print(the_string.ljust(17, "*"))  
center_plus = the_string.center(16, "+")  
print(center_plus)
print(the_string.lstrip("North"))
print(center_plus.rstrip("+"))  
print(center_plus.strip("+"))  
print(the_string.replace("North", "South"))

In [78]:
# ljust, rjust
print("hello world".rjust(15)) # move to the right, right justify
print("hello world".ljust(15) + "there") # left justify
print("hello world".center(15) + "there") # center
print("hello world".center(15, "+") + "there") # center

    hello world
hello world    there
  hello world  there
++hello world++there

In [88]:
# strip, rstrip, lstrip
print("111I had an exciting trip!1111".strip("1"))
print("111I had an exciting trip!1111".lstrip("1"))
print("111I had an exciting trip!1111".rstrip("trip!1111"))
# all characters to remove
print("111I had an exciting trip!1111".rstrip("t1111rip!"))

I had an exciting trip!
I had an exciting trip!1111
111I had an exciting
111I had an exciting trip!1111
111I had an exciting

In [90]:
# replace
print("Hello world".replace("world", "ocean"))

Hello ocean

In [91]:
# len()
print(len("Hello world"))

11

In [93]:
# format function
print("Hello {}, this is a {}. How is the {}".format("world", "message", "weather."))

Hello world, this is a message. How is the weather.

In [1]:
# list
list_1 = [5, 4, 3, 2, 1]
list_2 = [2.3, 4.5, 5.6]
list_3 = ["blue", "green", "red"]
list_4 = [[1, 2, 3], [4, 5, 6]]

print(list("blah"))

['b', 'l', 'a', 'h']

In [4]:
# list contains
checked_list = [1, 2, 4, 5]
print(1 in checked_list)
print(8 in checked_list)
print(8 not in checked_list)

True
False
True

In [14]:
# list indexes and slicing
index_examples = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(index_examples[2][0])
print(index_examples[2][0])
print(index_examples[-1])
print(index_examples[-0])

mixed_list = ["Hello", True, 1, 3, 4, 5, 6]

# slicing includes the last indexed element
print(mixed_list[0:2])
print(mixed_list[-3:-1])
print(mixed_list[-3:])

7
7
[7, 8, 9]
[1, 2, 3]
['Hello', True]
[4, 5]
[4, 5, 6]

In [20]:
# lists del and remove
# del removes by index, remove removes by value
planets = ["pluto", "mars", "earth", "venus", "earth"]
del planets[0]
print(planets)

# print planets.remove("mars") will print None
planets.remove("mars")
print(planets)

# removes the first item
planets.remove("earth")
print(planets)

['mars', 'earth', 'venus', 'earth']
['earth', 'venus', 'earth']
['venus', 'earth']

In [24]:
# list append, insert
pets = ["cat", "dog", "parrot"]
pets.append("horse")
print(pets)

pets.insert(1, "fish")
print(pets)

['cat', 'dog', 'parrot', 'horse']
['cat', 'fish', 'dog', 'parrot', 'horse']

In [25]:
# sort
num_list = [2.718, 4, -19, 1000]
num_list.sort()
print(num_list)

[-19, 2.718, 4, 1000]

In [27]:
# index method
metals = ["copper", "gold", "silver", "iron", "silver"]
print(metals.index("copper"))
print(metals.index("silver"))

0
2

In [28]:
# pop methods
popped = metals.pop()
print(popped)
print(metals)

silver
['copper', 'gold', 'silver', 'iron']

In [31]:
# List: mutable
# Strings: immutable
ex_1 = [1, 2, 3, 4, 5]
ex_1[1] = 9
print(ex_1)

ex_2 = "123"
# ex_2[1] = "A" will throw an error, strings are immutable

[1, 9, 3, 4, 5]

In [33]:
# copy by reference and deepcopy
ex_1 = [1, 2, 3, 4, 5, 6]
ex_2 = ex_1
ex_2[0] = 7
print(ex_1)
print(ex_2)

import copy

ex_3 = copy.deepcopy(ex_1)
ex_3[0] = 10
print(ex_1)
print(ex_3)

[7, 2, 3, 4, 5, 6]
[7, 2, 3, 4, 5, 6]
[7, 2, 3, 4, 5, 6]
[10, 2, 3, 4, 5, 6]

In [44]:
# Dictionaries
dict_1 = {"microsoft": "xbox", "sony": "playstation", "nintendo": "wii"}
print(dict["microsoft"])
dict_2 = {5: "corundum", "some": "thing"}
# print(dict_2[0]) # key error message
print(dict_2[5])

# check for keys 
print(0 in dict_1)
print("sony" in dict_1)

xbox
corundum
False
True

In [59]:
# dictionaries
birth_years = {1994: "bill", 1969: "emily", 1982: "elizabeth"}

# print as dict_keys
print(birth_years.keys())
print("\n")

# print as list
print(list(birth_years.keys()))
print("\n")

# print key
for key in birth_years.keys():
    print(key)
print("\n")

# print value
for value in birth_years.values():
    print(value)
print("\n")
    
# print item
for key, value in birth_years.items():
    print(key, value)
print("\n")

print("elizabeth" in birth_years.keys())
print("elizabeth" in birth_years.values())
print("\n")

# check for key
if 1982 in birth_years: 
    print(birth_years[1982])
print("\n")

# check for key and value with get
print(birth_years.get(1982))
print("\n")

# check for key and value with get if no key available
print(birth_years.get(1980, "1980 is not a key"))

dict_keys([1994, 1969, 1982])


[1994, 1969, 1982]


1994
1969
1982


bill
emily
elizabeth


1994 bill
1969 emily
1982 elizabeth


False
True


elizabeth


elizabeth


1980 is not a key

In [70]:
# list methods
# fromkeys()
# pop()
# popitem()

ex_1 = {}.fromkeys(["address"], "1600 Pennsylvania Avenue NW")

# second parameter is used as value for every key
ex_2 = {}.fromkeys("ade", "1600 Pennsylvania Avenue NW")
ex_2 = {}.fromkeys("ade", ["1600 Pennsylvania Avenue NW", "so"])

print(ex_1)
print(ex_2)
print(ex_3)

# type the key as dicts are unordered to use pop of dicts
ex_2.pop("d")
print(ex_2)
print("\n")

# pop any item
ex_2.popitem()
print(ex_2)

{'address': '1600 Pennsylvania Avenue NW'}
{'a': ['1600 Pennsylvania Avenue NW', 'so'], 'd': ['1600 Pennsylvania Avenue NW', 'so'], 'e': ['1600 Pennsylvania Avenue NW', 'so']}
[10, 2, 3, 4, 5, 6]
{'a': ['1600 Pennsylvania Avenue NW', 'so'], 'e': ['1600 Pennsylvania Avenue NW', 'so']}


{'a': ['1600 Pennsylvania Avenue NW', 'so']}

In [71]:
# update method for dicts
city_info = {"city_a": 1000, "city_2": 2000}

city_a = {"city_a": 500}

city_info.update(city_a)

print(city_info)

{'city_a': 500, 'city_2': 2000}

In [4]:
# dict function, cant use numbers as keys
empty = dict()
print(empty)
with_values = dict(a1=1, b_=2, c_3 = 3)
print(with_values)

{}
{'a1': 1, 'b_': 2, 'c_3': 3}

In [16]:
# tuples are immutable
tuple_1 = ("a", "b", "c", "d", "e")
tuple_2 = tuple([2.718, False, [1, 2, 3]])
tuple_3 = tuple("abc")
print(tuple_1)
print(tuple_2)
print(tuple_3)
print(tuple_1[2])
# tuple_1[3] = "b" will throw an error

# list is bigger in storage
tuple_4 = (1,2,3)
list_x = [1,2,3]
size_tuple = tuple_4.__sizeof__
size_list = list_x.__sizeof__
print(size_tuple())
print(size_list())

# lists cant be used as keys but tuples can be used as keys

('a', 'b', 'c', 'd', 'e')
(2.718, False, [1, 2, 3])
('a', 'b', 'c')
c
48
64

In [19]:
# tuple slicing
ints = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(ints[::3]) # stride length of 3
print(ints[1::2]) # evens only
print(ints[7::-1]) # backwards from 8
print(ints[8::-2]) # odds only

(1, 4, 7, 10)
(2, 4, 6, 8, 10)
(8, 7, 6, 5, 4, 3, 2, 1)
(9, 7, 5, 3, 1)

In [22]:
nested = (1, 2, 3, (4, 5, 6), (7, 8, 9), 7, 3, 2, 1)
print(nested[4])
print(nested.count(3))
print(nested.index((4, 5, 6)))

(7, 8, 9)
2
3

In [52]:
# sets
fruits = ["apple", "apple", "apple", "banana", "orange"]
fruit_set = set(fruits)
print(set(fruit_set))
print(fruit_set.remove("banana"))
print(fruit_set)
fruit_set_copy = fruit_set.copy()
fruit_set.add("ananas")
print("Fruit set copy: {}".format(fruit_set_copy))

# set methods
scifi = {"star trek", "star wars", "halo"}
scifi.add("star wars")
print(scifi)

# intersections
set_a = {1, 2, 3, 4, 5, 6, 7}
set_b = {5, 6, 7, 8, 9}
set_c = set_a & set_b
set_d = set_a - set_b
print(set_c)
print("Set d is set_d {}".format(set_d))

# set with range
set_1 = set(range(1, 9, 2))
print(set_1)
 
# print sets
for num in set_1:
    print(num)
print(9 in set_1)

# set comprehension
comp_1 = {even + 2 for even in range(2, 11, 2)}
comp_2 = {char.lower() for char in "ALLCAPS"}
print(comp_1)
print(comp_2)

{'orange', 'apple', 'banana'}
None
{'orange', 'apple'}
Fruit set copy: {'orange', 'apple'}
{'star trek', 'halo', 'star wars'}
{5, 6, 7}
Set d is set_d {1, 2, 3, 4}
{1, 3, 5, 7}
1
3
5
7
False
{4, 6, 8, 10, 12}
{'a', 'p', 'c', 'l', 's'}