# Tuples

Tuple is an immutable list. Similar to lists a tuple can contain a heterogeneous sequence of elements, but it is impossible to append, edit or remove any individual elements within a tuple.

## Creating tuples
Tuples are enclosed in parenthesis, and commas separate the items within them.

In [1]:
# Empty tuple
new_tup = ()  
type(new_tup)

tuple

In [2]:
 # A tuple of integers
new_tup = (10, 20, 30, 40) 
type(new_tup)

tuple

In [3]:
# A tuple of mixed data type
new_tup = (10, 20.2, 'thirty', 40)  
type(new_tup)

tuple

In [4]:
# A nested tuple
new_tup = ((10, 20, 30), (10.1, 20.2, 30.3),
           ("ten", "twenty", "thirty"))  
type(new_tup)

tuple

In [5]:
# A deeply nested tuple
new_tup = (10, (20.2, ("thirty", (40))))  
type(new_tup)

tuple

## Can we manipulate a tuple?

There are no methods supported by tuples that can help us manipulate a tuple once formed. Tuple does not even support assigning a new item at any particular index.

In [6]:
# This is the 'original' tuple which you have created
my_tup = (10, 20, 30, 40)

print(my_tup)

(10, 20, 30, 40)

In [7]:
# Returning the item at the 0th index
my_tup[0]

10

In [8]:
# Assigning a new item to the 0th index
my_tup[0] = '40'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Trying to Append '50' at the 4th index of the created tuple.
my_tup.append(50)

But we can certainly find the length of a tuple.

<b>len</b> (x) <br>
It returns the length of the tuple.

In [ ]:
len(my_tup)

# Sets

A set is an unordered collection with no duplicate elements. They are useful to create lists that hold only unique values and are also mutable. The elements of a set can be anything like numbers, strings or characters.

## Creating & printing sets
Curly braces or the set () function can be used to create sets, and the items within them are separated by commas.

In [ ]:
# Empty Set ---> An empty set cannot be created
new_set = {} 
type(new_set)

In [ ]:
new_set = {'Neo', 'Morphius', 'Trinity', 'Agent Smith', 'Oracle'} 
type(new_set)

In [ ]:
print(new_set)

In [ ]:
# Now there are 5 'Agent Smiths' in our set. What will happen if we print this set?
new_set = {'Neo', 'Morphius', 'Trinity', 'Agent Smith',
           'Agent Smith', 'Agent Smith', 'Agent Smith', 'Oracle'}

# The set will only print unique values
print(new_set)

In [ ]:
# Using the set () function to create sets
x_set = set('THEMATRIX')

type(x_set)

In [ ]:
# 'THE MATRIX' has two 'T's. Only unique values will be printed.
print (x_set)

In [ ]:
# An additional example
y_set = set('THETERMINATOR')

print(y_set)

## Set operations

You can even perform mathematical operations like set union, set intersection, set difference and symmetric difference amongst different datasets.

In [ ]:
# We will create 2 new sets. The 'x_set' and the 'y_set'.

x_set = set('ABCDE')
y_set = set('CDEFG')

print(x_set)
print(y_set)

<b> x.union(y) </b> <br>
This method returns all the unique items that are present in the two sets, as a new set.

In [ ]:
x_set.union(y_set)

In [ ]:
# Union can be performed by using the pipe '|' operator also
x_set | y_set

<b> x.intersection(y) </b> <br>
This method returns the common items that are present in two sets, as a new set.

In [ ]:
x_set.intersection(y_set)

In [ ]:
# Intersection can be performed by using the ampersand '&' operator
x_set & y_set

<b> x.difference(y) </b> <br>
This method returns the items of 'set 1' which are not common (repetitive) to the 'set 2', as a new set.

In [ ]:
x_set.difference(y_set)

In [ ]:
# Difference can be performed using the minus '-' operator
x_set - y_set

<b> difference_update () </b> <br>
This method removes all the elements of 'set 2' common to 'set 1' in 'set1'. It updates 'set 1'.

In [ ]:
x_set.difference_update(y_set)

print(x_set)
print(y_set)

In [ ]:
x_set = set('ABCDE')
y_set = set('CDEFG')

# Difference update can be abbreviated in the shown manner i.e. 'x = x-y'
x_set = x_set - y_set

print(x_set)
print(y_set)

<b>x.isdisjoint(y)</b> <br>
This method returns True if two sets have null intersection.

In [ ]:
x_set = set('ABCDE')
y_set = set('CDEFG')

x_set.isdisjoint(y_set)

In [ ]:
x_set = set('ABC')
y_set = set('EFG')

x_set.isdisjoint(y_set)

<b>y.issubset(x)</b> <br>
This method returns True for 'Set 2', if all the elements of 'Set 2' are present in 'Set 1'

In [ ]:
x_set = set('ABCDE')
y_set = set('CDEFG')

y_set.issubset(x_set)

In [ ]:
x_set = set('ABCDE')
y_set = set('CDE')

y_set.issubset(x_set)

In [ ]:
# One can check a subset using a less than '<' operator.
y_set < x_set

<b>x.issuperset(y)</b><br>
This method returns True for 'Set 1' if all the elements of Set 2 are present in 'Set 1'.

In [ ]:
x_set = set('ABCDE')
y_set = set('CDEFG')

x_set.issuperset(y_set)

In [ ]:
x_set = set('ABCDE')
y_set = set('CDE')

x_set.issuperset(y_set)

In [ ]:
# One can check a superset using a greater than '>' operator.
x_set > y_set

<b>x.add(e)</b> <br>
It adds a single item to the set and updates the set.

In [ ]:
x_set = set('ABCDE')

print(x_set)

In [ ]:
x_set.add('FGH')

print(x_set)

<b> x.discard(e)</b> <br>
It removes a single item from the set and updates it.

In [ ]:
print(x_set)

In [ ]:
x_set.discard('FGH')

print(x_set)

<b> x.pop () </b> <br>
It pops and returns any arbitary item from the set.

In [ ]:
print(x_set)

In [ ]:
x_set.pop()

<b> x.copy () </b> <br>
It creates a shallow copy of any set.

In [ ]:
# There are only 4 items in the set, since one just got popped in the above cell execution.
print(x_set)

In [ ]:
x_set.copy()

<b> x.clear() </b> <br>
It clears all the items of the set.

In [ ]:
print(x_set)

In [ ]:
x_set.clear()

print(x_set)

This is where we will end this section on Data Structures. In the next section, we will learn how to import and visualize time series data. <br><br>