In [1]:
import numpy as np
print(np)

<module 'numpy' from '/home/haniel/anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>

In [3]:
a = np.array([6,7,8,9])
print(a)
print(type(a))

[6 7 8 9]
<class 'numpy.ndarray'>

In [5]:
# numpy converts to the most complex type
a = np.array([6,7,'7',8.0,9])
print(a)
print(type(a))

['6' '7' '7' '8.0' '9']
<class 'numpy.ndarray'>

In [7]:
a = np.array([[1,2],[3,4]])
print(a)
print(type(a))

[[1 2]
 [3 4]]
<class 'numpy.ndarray'>

In [8]:
z_array = np.zeros(5)
print(z_array)

[0. 0. 0. 0. 0.]

In [9]:
o_array = np.ones(5)
print(o_array)
print(type(o_array))

[1. 1. 1. 1. 1.]
<class 'numpy.ndarray'>

In [10]:
# define the number of steps
e_array = np.linspace(0,20,5)
print(e_array)

[ 0.  5. 10. 15. 20.]

In [11]:
s_array = np.linspace(-1,1,11)
print(np.sin(s_array))

[-0.84147098 -0.71735609 -0.56464247 -0.38941834 -0.19866933  0.
  0.19866933  0.38941834  0.56464247  0.71735609  0.84147098]

In [13]:
# define the stepsize
print(np.arange(15))
print(np.arange(5,15))
print(np.arange(5,15,4))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[ 5  6  7  8  9 10 11 12 13 14]
[ 5  9 13]

In [15]:
# reshape
five_by_four = np.arange(20).reshape(5,4)
print(five_by_four)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]

In [16]:
# transpose
print(five_by_four.T)

[[ 0  4  8 12 16]
 [ 1  5  9 13 17]
 [ 2  6 10 14 18]
 [ 3  7 11 15 19]]

In [17]:
# pandas
import pandas as pd
raw_data = pd.read_csv("./flights.csv")
raw_data.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [23]:
data = raw_data.to_numpy()

In [25]:
print('data.shape: {}'.format(data.shape))
print('data.ndim: {}'.format(data.ndim))
sched_dep = data[:,6]
print(sched_dep)
print(type(sched_dep))

data.shape: (58492, 14)
data.ndim: 2
[1625 823 1305 ... 1846 525 859]
<class 'numpy.ndarray'>

In [30]:
sched_dep = data[3:8, 6:9]
print(sched_dep)

[[1555 7.0 126.0]
 [1720 48.0 166.0]
 [1450 1.0 178.0]
 [1250 84.0 64.0]
 [1020 -7.0 91.0]]

In [39]:
sched_dep = data[:,6]
print('Sum: {}'.format(sched_dep.sum()))
print('Min: {}'.format(sched_dep.min()))
print('Max: {}'.format(sched_dep.max()))
print('Ave: {}'.format(sched_dep.mean()))

Sum: 81186009
Min: 5
Max: 2359
Ave: 1387.9848355330644

In [40]:
sched_dep_hours = data[:,6]/60
print('Sum: {}'.format(sched_dep_hours.sum()))
print('Min: {}'.format(sched_dep_hours.min()))
print('Max: {}'.format(sched_dep_hours.max()))
print('Ave: {}'.format(sched_dep_hours.mean()))
print('Standard deviation: {}'.format(sched_dep_hours.std()))
print('Variance: {}'.format(sched_dep_hours.var()))

Sum: 1353100.1499999969
Min: 0.08333333333333333
Max: 39.31666666666667
Ave: 23.133080592217684
Standard deviation: 8.046777752745134
Variance: 64.75063220207403

In [41]:
print(sched_dep_hours[sched_dep_hours > 1])

[27.083333333333332 13.716666666666667 21.75 ... 30.766666666666666 8.75
 14.316666666666666]