In [1]:
print("Python is easy")

Python is easy

In [ ]:
# comments
# this is one

In [14]:
# data types

# five types are
# None object that contains no value
# Numeric int, float, complex
# Sequences str, bytes, bytearray, list, tuple, range
# Mapping for MapReduce

a = 10
f = 10.23
s = "You are the creator of your destiny"
d = 3+4j
e = 0B1010 # binary becomes int
g = 0XFF # hexadecimal becomes int
h = 0O33 # octadecimal
i = False

print(type(a))
print(type(f))
print(type(s))
print(type(d))
print(type(e))
print(type(g))
print(type(h))
print(type(i))

print(e)
print(g)
print(h)

# casting, convert types
print("int cast {}".format(int(f)))
print("bin cast {}".format(bin(10)))
print("hex cast {}".format(hex(10)))
print("oct cast {}".format(oct(10)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
10
255
27
int cast 10
bin cast 0b1010
hex cast 0xa
oct cast 0o12

In [18]:
# identifiers
# case sensitive
id = 2
Id = 3
_id = 4
# two underscores indicate a special function
# __init__

In [19]:
# drivers license
firstName = "Adam"
lastName = "Smith"
age = "90"
ssn = "ajhd-adsf-sfdf-deee"
height = "6.2"
weight = "192"

print(firstName)
print(lastName)
print(age)
print(ssn)
print(height)
print(weight)

Adam
Smith
90
ajhd-adsf-sfdf-deee
6.2
192

In [21]:
# strings
s1 = "You are the creator of your destiny. "

# print
print(s1)

# multiply
print(s1 * 3)

# index
print(s1[2])
print(len(s1))
print(s1[0:3])
print(s1[0:])
print(s1[-4:-1])
print(s1[-4:])
print(s1[0:8:2])
print(s1[-15::1])
print(s1[-15::-1])

# strip 
s2 = "    creator of your destiny      "
print(s2.strip())
print(s2.lstrip())
print(s2.rstrip())

# find string in a string
print(s1.find("are", 0, len(s1)))
print(s2.find("are", 0, len(s1)))

# count
print(s2.count("t"))

You are the creator of your destiny.
You are the creator of your destiny. You are the creator of your destiny. You are the creator of your destiny.
u
37
You
You are the creator of your destiny.
ny.
ny.
Yuae
 your destiny.
 fo rotaerc eht era uoY
creator of your destiny
creator of your destiny
    creator of your destiny
4
-1
2

In [25]:
# exercise

a = int
b = float
c = bool
d = str

a = 10
b = 20.54
c = True
d = "I am the best"

print(a)
print(b)
print(c)
print(d)

10
20.54
True
I am the best

In [36]:
# list
lst = [10, 20, "name", -10, 30.5]

# print
print(lst)

# index
print(lst[3])
print(lst[3:5])

# multiply
print(lst * 4)

# length
print(len(lst))

# append
lst.append(40)
print(lst)

# remove by value
lst.remove("name")
print(lst)

# remove the first list element
del(lst[1])
print(lst)

# max/min
print(max(lst))
print(min(lst))

# insert
lst.insert(3, 99)
print(lst)

lst.sort(reverse = True)
print(lst)

[10, 20, 'name', -10, 30.5]
-10
[-10, 30.5]
[10, 20, 'name', -10, 30.5, 10, 20, 'name', -10, 30.5, 10, 20, 'name', -10, 30.5, 10, 20, 'name', -10, 30.5]
5
[10, 20, 'name', -10, 30.5, 40]
[10, 20, -10, 30.5, 40]
[10, -10, 30.5, 40]
40
-10
[10, -10, 30.5, 99, 40]
[99, 40, 30.5, 10, -10]

In [40]:
# Tuple
# can not be modified, immutable
# insertion order
# duplicates are ok
# different types are ok

tpl = (20, 30, 40, 50, 'xyz')
print(tpl)
print(type(tpl))
print(tpl * 3)
print(tpl.index('xyz'))

# cast
lst = [5,6, 'a']
print(tuple(lst))

(20, 30, 40, 50, 'xyz')
<class 'tuple'>
(20, 30, 40, 50, 'xyz', 20, 30, 40, 50, 'xyz', 20, 30, 40, 50, 'xyz')
4
(5, 6, 'a')

In [46]:
# set
s = {10, 20, 30, 'xyz', 10, 20, 30}
print(s)
s.update([88, 99])
print(s)
print(type(s))

# print(s * 3) will throw an error

s.remove(30)
print(s)

f = frozenset(s)
# f.update(7) will throw an error
# f.remove(10) will throw an error

{'xyz', 10, 20, 30}
{99, 10, 20, 88, 'xyz', 30}
<class 'set'>
{99, 10, 20, 88, 'xyz'}

In [48]:
# range
r = range(1, 15, 3)

for i in r:
    print(i)

1
4
7
10
13

In [52]:
# list
lst = [1, 3, 4]
b = bytes(lst)
print(type(b))
# b[1] = 0 will throw an arrow 

# bytearray assignments work
b1 = bytearray(lst)
print(type(b1))
b1[2] = 20
print(b1)

<class 'bytes'>
<class 'bytearray'>
bytearray(b'\x01\x03\x14')

In [56]:
# dict
dict1 = {1: "john", 2: "bob", 3: "bill"}
print(dict1)
print(dict1.items())
k = dict1.keys()
for i in k: print(i)
for i in dict1.values(): print(i)
print(dict1[3])
del dict1[2]
print(dict1)

{1: 'john', 2: 'bob', 3: 'bill'}
dict_items([(1, 'john'), (2, 'bob'), (3, 'bill')])
1
2
3
john
bob
bill
bill
{1: 'john', 3: 'bill'}

In [59]:
a = 20
b = 20
print(id(a))
print(id(b))
print(a is b)

a = 20
b = 10
print(id(a))
print(id(b))
print(a is b)

a = "Hi"
b = "Hi"
print(id(a))
print(id(b))
print(a is b)

94819118089760
94819118089760
True
94819118089760
94819118089440
False
139738708230768
139738708230768
True

In [62]:
# exercise
countries = ["South-Africa", "Marocco", "Spain"]
countries.append("Brazil")
del countries[2]
countries.insert(2, "Norway")

countries1 = {"Hungary", "India", "Japan"}
countries2 = {"Switzerland"}
countries1.update(countries2)
countries1.remove("Hungary")
countries1 = {Madagascar}
countries1.update(countries4)